@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
/* custom styles */

/* background images at the navbar */
nav {
    background-image: url('/src/assets/images/nav-image.jpg');
    background-size: cover;
    height: fit-content;
}

/* background image at the footer */
footer{
    background-image: url('/src/assets/images/footer-image.jpg');
}

.image {
     background-image: url('/src/assets/images/secondImage.jpg');
}
=======
/* custom fonts */
.holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.btn{
    background-color: rgb(13, 100, 214);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
}
>>>>>>> ecd2377ae86d7b76b8330c637293d8a3a8aef964
