<<<<<<< HEAD
<<<<<<< HEAD
body {
    font-family: 'Montserrat', sans-serif;
}

.logo-brand {
    font-family: 'Josefin Slab', serif;
=======
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom styles */

/* background images at the navbar */
nav {
    background-image: url('/src/assets/images/nav-image.jpg');
    background-size: cover;
    height: fit-content;
}
<<<<<<< HEAD
.btn{
    background-color: rgb(13, 100, 214);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
>>>>>>> 411a8ad ( chore(setup): setup tailwind)
=======

/* background image at the footer */
footer{
    background-image: url('/src/assets/images/footer-image.jpg');
>>>>>>> 97fe759 (feat(landing-page): implement responsiveness)
}
=======
@tailwind base;
@tailwind components;
@tailwind utilities;
>>>>>>> 48418c0 (Initial tailwindcss setup)
